@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ------------- font imported roboto -----------*/
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h2 {
    font-size: 32px;
    border: 2px solid;
    border-radius: 30px;
    display: inline-block;
    padding: 10px;
}
.btn{
    background-color: tomato;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 5px 15px;
    font-size: 18px;
    margin-bottom: 15px;
}

/* ------------- header area design start -----------*/
.header{
    background-color: #1f2937;
    color: white;
}
.header img{
    border-radius: 10px;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    margin: 0 5px;
}
.header-fav-flavour-content{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.header-fav-flavour-content h1{
    margin: 0;
    font-size: 48px;
}
.header-fav-flavour-content p {
    font-size: 21px;;
}
.header-right img {
    width: 100%;
}
/* ------------- header area design end -----------*/

/* --------------- fav-flavour area design start ------------------*/
.fav-flavour{
    text-align: center;
    padding: 50px 0;
}
.fav-items{
    display: flex;
    gap: 20px;
}
.single-fav-item img{
    width: 100%;
    border-radius: 10px;
}

/* --------------- fav-flavour area design end ------------------*/

/* ---------------choose-your-items area design start--------------- */
#choose-your-items {
    text-align: center;
    padding: 50px 0;
    background: #f5f6fa;
}
.choosen-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.choosen-items img{
    width: 100%;
    border-radius: 10px;
}
.single-choosen-item{
    border: 3px solid salmon;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* ---------------choose-your-items area design end----------------- */

/* --------------------surprise-us section design start----------------- */
#surprise-us {
    padding: 50px 0;
    text-align: center;
    background: #ff4747c9;
}
/* --------------------surprise-us section design start----------------- */

/* --------------- qoutes area design start ------------------*/
.qoutes-area{
    background-color: #E5E7EB;
    padding: 50px 0;
}
.qoutes-area p {
    font-size: 21px;
    font-style: italic;
}
.qoutes-area h4{
    text-align: right;
}
/* --------------- qoutes area design end ------------------*/

/* --------------- call to action area design start ------------------*/
.call-to-action{
    padding: 50px 0;
}
.call-to-action h3{
    font-size: 24px;
}
.call-to-action p {
    font-size: 21px;
}
.call-action-bg{
    background: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-radius: 10px;
    color : #fff;
}
.call-action-bg .action-btn{
    border: 4 px solid none;
    background-color: #3882F6;
    border-color: #fff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
.call-action-bg .action-btn:hover{
    background-color: #1d57b4;
    
}
/* --------------- call to action area design end ------------------*/

/* --------------- footer area design start ------------------*/
footer{
    background-color: #1f2937;
    padding: 15px 0;
    text-align: center;
    color : #fff;
}

footer a{
    color : #3882F6;
    text-decoration: none;
}
/* --------------- footer area design end ------------------*/
