@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ------------- font imported roboto -----------*/
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h2 {
    font-size: 32px;
    border: 2px solid;
    border-radius: 30px;
    display: inline-block;
    padding: 10px;
}
.btn{
    background-color: #ff4757;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn:hover{
    background: #d82736;
}
.main-dif-color{
    color: #ff4757;
}
.sec-dif-color{
    color: #fff;
}

/* ------------- header area design start -----------*/
.header{
    background-color: #1f2937;
    color: white;
}
.header-left{
    width: 60%;
}
.header-right{
    width: 40%;
}

.header img{
    width: 100%;
    border-radius: 10px;
    transition: transform 1s;
}
.header img:hover{
    transform: scale(1.1);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 55px;
    height: 40px;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 2px solid #ff4757;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    margin: 0 5px;
}
.nav-bar a:hover{
    color: #ff4757;
}
.header-fav-flavour-content{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.header-fav-flavour-content h1{
    margin: 0;
    font-size: 48px;
}
.header-fav-flavour-content p {
    font-size: 21px;;
}
.header-right img {
    width: 100%;
}
/* ------------- header area design end -----------*/

/* --------------- fav-flavour area design start ------------------*/

.fav-flavour{
    text-align: center;
    padding: 50px 0;
}
.fav-items{
    display: flex;
    gap: 20px;
}
.single-fav-item img{
    width: 100%;
    border-radius: 10px;
}
.single-fav-item{
    transition: transform .5s;
}
.single-fav-item:hover{
    transform: scale(1.1);
}
.fav-flavour h4{
    color: #ff4757;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* --------------- fav-flavour area design end ------------------*/

/* ---------------choose-your-items area design start--------------- */
#choose-your-items {
    text-align: center;
    padding: 50px 0;
    background: #f5f6fa;
}
.choosen-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.choosen-items img{
    width: 100%;
    border-radius: 10px;
}
.single-choosen-item{
    border: 3px solid #ff4757;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform .8s;
}
.single-choosen-item:hover{
    transform: scale(1.1);
}
.choosen-items h3{
    color: #ff4757;
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* ---------------choose-your-items area design end----------------- */

/* --------------------surprise-us section design start----------------- */
#surprise-us {
    padding: 50px 0;
    text-align: center;
    background: #ff4747c9;
}
.surprise-title h3{
    color: #fff;
}
.surprise-descrip .dif-color{
    color: #fff;
    font-weight: bold;
}

/* --------------------surprise-us section design start----------------- */

/* --------------- qoutes area design start ------------------*/
.qoutes-area{
    background-color: #fff;
    padding: 50px 0;
}
.qoutes-area p {
    font-size: 21px;
    font-style: italic;
}
.qoutes-area h4{
    text-align: right;
    color: #ff4757;
}

/* --------------- qoutes area design end ------------------*/

/*--------------- book your slot area design start ----------------*/
.book-your-slot {
    padding: 50px 0;
    background: #dfe4ea;
}
.slot-book-title{
    text-align: center;
}
.slot-book-form form {
    width: 60%;
    margin: 0 auto;
}
.slot-book-form{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 40px 0;
}
.slot-book-form form label{
    font-size: 18px;
}
.slot-book-form form input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ff4757;
    box-sizing: border-box;
}
.slot-book-form form input[type=submit]{
    width: fit-content;
    border: none;
    display: inline-block;
}
.slot-book-form form input[type=reset]{
    width: fit-content;
    border: none;
    display: inline-block;
    background: #1f2937;
    margin: 0 10px;
}
/*--------------- book your slot area design end ----------------*/

/* --------------- footer area design start ------------------*/
footer{
    background-color: #1f2937;
    padding: 25px 0;
    text-align: center;
    color : #fff;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom .author{
    color : #3882F6;
    text-decoration: none;
}
.footer-bottom .social-icons i {
    font-size: 25px;
    margin: 0 5px;
}
.social-icons .fb {
    color: #4267B2;
}
.social-icons .ytb {
    color: #FF0000;
}
.social-icons .twt {
    color: #1DA1F2;
}
.social-icons .gm {
    color: #BB001B;
}
/* --------------- footer area design end ------------------*/


/* responsive css */
@media only screen and (max-width: 768px) {
    .container{
        width: 90%;
        padding: 0 5%;
    }
    .nav-area{
        padding-bottom: 10px;
        flex-direction: column;
    }
    .header-fav-flavour-content{
        flex-direction: column;
        text-align: center;
    }
    .header-left{
        width: 100%;
    }
    .header-right{
        width: 80%;
    }
    .fav-items{
        flex-direction: column;
    }
    .choosen-items {
        grid-template-columns: repeat(1,1fr);
    }
    .slot-book-form form {
        width: 90%;
    }
    .footer-top{
        flex-direction: column;
    }


}